<nb-card *ngIf="bookDetail$ | async as bookDetail">
  <nb-card-header>
    {{bookDetail.title}}
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="book-image">
            <img [src]="bookDetail.imageUrl">
          </div>
          <div class="details">
            <div>
              {{bookDetail.authors}}
            </div>
            <div>
              {{bookDetail.isbn}}
            </div>
            <div>
              {{bookDetail.publisher}}
            </div>
            <div>
              {{bookDetail.publicationYear}}
            </div>
            <div>
              {{bookDetail.binding}}
            </div>
            <div>
              {{bookDetail.numberOfPages}}
            </div>
            <div class="price">
              {{bookDetail.price  | currency:'USD'}}
            </div>
            <div>
              <button type="button" (click)="addToShoppingCart(b)" class="btn btn-success btn-icon">
                <i class="fa fa-cart-plus"></i>
              </button>
            </div>
            <div class="description" [innerHTML]="bookDetail.description">
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
