<nb-card class="search-results">
  <nb-card-header>
    Your Shopping Cart
  </nb-card-header>
  <nb-card-body>
    <div class="list-group">
      <div *ngFor="let b of books">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="details">
            <div class="title"><h5>{{ b.title }}</h5></div>
            <div class="authors">
              <div class="desc">by {{ b.authors }}</div>
            </div>
            <div class="isbn">
              <div class="desc">{{ b.isbn }}</div>
            </div>
            <div class="price">
              <div class="desc">{{ b.price | currency:'USD'}}</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </nb-card-body>
</nb-card>
