@import '../styles/themes';
@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../node_modules/@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  nb-layout-column.small {
    flex: 0.15 !important;
  }

  /* stylelint-disable */
  toaster-container /deep/ {
    #toast-container .toast-close-button {
      right: 0;
    }
  }


  @include media-breakpoint-down(xs) {
    .main-content {
      padding: 0.75rem !important;

    }
  }

  @include media-breakpoint-down(sm) {

    nb-layout-header nav {
     height: 5.75em !important;
    }


    .main-btn {
      display: none;
    }
  }
}
