<nb-card-header>
  <h2 class="title">Account Overview</h2>
</nb-card-header>
<div class="row" *ngIf="customer">
  <ngx-address-data-view *ngIf="customer.address" class="col-lg-6 col-md-6 col-sm-12" [customer]="customer" [title]="title"></ngx-address-data-view>
  <ngx-payment-data-view *ngIf="customer.creditCard"  class="col-lg-6 col-md-6 col-sm-12" [customer]="customer"></ngx-payment-data-view>
</div>
<div class="d-flex justify-content-center btn-change">
  <button class="btn btn-primary btn-md multibtn"
          (click)="updatePassword()">
    Change Password
  </button>
  <button class="btn btn-primary btn-md multibtn"
          (click)="updateAddress()">
    Edit Contact/Address
  </button>
  <button class="btn btn-primary btn-md multibtn"
          (click)="updateCreditCard()">Edit Payment-Data
  </button>
</div>
<div class="row">
  <ngx-order-list [orders]="orders" (onCancelOrder)="cancelOrder($event)" (onYearChanged)="yearChanged($event)"></ngx-order-list>
</div>




