// themes - our custom or/and out of the box themes
@import 'themes';
@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../node_modules/@nebular/theme/styles/global/bootstrap/breakpoints';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();

  // loading progress bar
  @include ngx-pace-theme();
};

.multibtn {
  margin: 3px;
}

.pointer {
  cursor: pointer !important;
}

.nb-theme-default .form-text {
  color: #4b4b4b;
}

@include media-breakpoint-down(sm) {
  nb-layout-header nav {
    height: auto !important;
    padding: 1.25em 0.2em !important;
  }
}
