<div class="header-container left">
  <div class="logo-containter">
    <div class="logo" (click)="goToHome()">ng-<span>bookstore</span></div>
  </div>
</div>
<nb-actions
  size="medium"
  class="header-container right">
  <nb-action class="control-item search">
    <ngx-search-input (search)="startSearch($event)"></ngx-search-input>
  </nb-action>
  <nb-action (click)="navigateToShoppingCart()" class="control-item" title="ShoppingCart">
      <i class="control-icon ion-ios-cart-outline"></i>
      <span *ngIf="cartItems !== undefined && cartItems > 0" class="badge">{{cartItems}}</span>
  </nb-action>
  <nb-action>
    <div *ngIf="currentUser?.email" class="user-container with-menu">
      <nb-user [menu]="items" [onlyPicture]="true" [picture]="picture">
      </nb-user>
    </div>
    <a *ngIf="!currentUser.email" (click)="navigateToLogin()" class="pointer">Login</a>
  </nb-action>
</nb-actions>

