<h2 class="title">Register</h2>
<form (ngSubmit)="register()" #form="ngForm">
  <div id="tabs" class="full-width">
    <ul>
      <li [class.active]="selected == 1">
        <a (click)="showTab(1)" data-toggle="collapse" data-target="#cardStep1">User</a>
      </li>
      <li [class.active]="selected == 2">
        <a (click)="showTab(2)" data-toggle="collapse" data-target="#cardStep2">Address</a>
      </li>
      <li [class.active]="selected == 3">
        <a (click)="showTab(3)" data-toggle="collapse" data-target="#cardStep3">Credit Card</a>
      </li>
    </ul>

  </div>
  <div class="collapse show" [class.show]="selected == 1">
    <p></p>
    <div class="row full-name-inputs">
      <div class="col-sm-6 form-group">

        <label for="input-first-name" class="sr-only">First name</label>
        <input name="fristName" [(ngModel)]="customer.firstName" id="input-first-name" #firstName="ngModel"
               class="form-control" placeholder="First name"
               [class.form-control-danger]="firstName.invalid && firstName.touched"
               required minlength="2" maxlength="20">
        <small class="form-text error" *ngIf="firstName.invalid && firstName.touched && firstName.errors?.required">
          First name is required!
        </small>
        <small class="form-text error"
               *ngIf="firstName.invalid && firstName.touched && (firstName.errors?.minlength || firstName.errors?.maxlength)">
          First name should contains from 2 to 20 characters
        </small>
      </div>
      <div class="col-sm-6 form-group">
        <label for="input-last-name" class="sr-only">Last name</label>
        <input name="lastName" [(ngModel)]="customer.lastName" id="input-last-name" #lastName="ngModel"
               class="form-control" placeholder="Last name"
               [class.form-control-danger]="lastName.invalid && lastName.touched"
               required minlength="2" maxlength="70">
        <small class="form-text error" *ngIf="lastName.invalid && lastName.touched && lastName.errors?.required">
          Full name is required!
        </small>
        <small class="form-text error"
               *ngIf="lastName.invalid && lastName.touched && (lastName.errors?.minlength || lastName.errors?.maxlength)">
          Full name should contain from 2 to 70 characters
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="input-email" class="sr-only">Email address</label>
      <input name="email" [(ngModel)]="customer.email" id="input-email" #email="ngModel"
             class="form-control" placeholder="Email address" pattern=".+@.+..+"
             [class.form-control-danger]="email.invalid && email.touched" required>
      <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">Email is
        required!
      </small>
      <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">Email should be the
        real one!
      </small>
    </div>

    <div class="form-group">
      <label for="input-password" class="sr-only">Password</label>
      <input name="password" [(ngModel)]="user.password" type="password" id="input-password"
             class="form-control" placeholder="Password" #password="ngModel"
             [class.form-control-danger]="password.invalid && password.touched" required [minlength]="8"
             [maxlength]="20">
      <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">Password
        is required!
      </small>
      <small class="form-text error"
             *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
        Password should contains from 8 to 20 characters
      </small>
    </div>

    <div class="form-group">
      <label for="input-re-password" class="sr-only">Repeat password</label>
      <input name="rePass" [(ngModel)]="user.confirmPassword" type="password" id="input-re-password"
             class="form-control" placeholder="Confirm Password" #rePass="ngModel"
             [class.form-control-danger]="(rePass.invalid || password.value != rePass.value) && rePass.touched"
             required>
      <small class="form-text error" *ngIf="rePass.invalid && rePass.touched && rePass.errors?.required">Password
        confirmation is required!
      </small>
      <small class="form-text error"
             *ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required">Password does not
        match the confirm password.
      </small>
    </div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-lg btn-hero-success" (click)="showTab(2)">
        Next
      </a>
    </div>
  </div>
  <div class="collapse" [class.show]="selected == 2">
    <p></p>
    <div class="form-group">
      <label for="input-street" class="sr-only">Street</label>
      <input name="street" [(ngModel)]="customer.address.street" id="input-street" class="form-control"
             placeholder="Street" #street="ngModel"
             [class.form-control-danger]="street.invalid && street.touched" required minlength="2" maxlength="70">
      <small class="form-text error" *ngIf="street.invalid && street.touched && street.errors?.required">Street is
        required!
      </small>
      <small class="form-text error"
             *ngIf="street.invalid && street.touched && (street.errors?.minlength || street.errors?.maxlength)">
        Street should contain between 2 to 20 characters
      </small>
    </div>

    <div class="row city-country">
      <div class="col-sm-3 form-group">
        <label for="input-postal-code" class="sr-only">PostalCode</label>
        <input name="postalCode" [(ngModel)]="customer.address.postalCode" id="input-postal-code" #postalCode="ngModel"
               class="form-control" placeholder="Postal code"
               [class.form-control-danger]="postalCode.invalid && postalCode.touched"
               required minlength="4" maxlength="5">
        <small class="form-text error" *ngIf="postalCode.invalid && postalCode.touched && postalCode.errors?.required">
          Postal code is required!
        </small>
        <small class="form-text error"
               *ngIf="postalCode.invalid && postalCode.touched && (postalCode.errors?.minlength || postalCode.errors?.maxlength)">
          Invalid postal code
        </small>
      </div>
      <div class="col-sm-6 form-group">
        <label for="input-city" class="sr-only">City</label>
        <input name="city" [(ngModel)]="customer.address.city" id="input-city" #city="ngModel"
               class="form-control" placeholder="City"
               [class.form-control-danger]="city.invalid && city.touched"
               required minlength="2" maxlength="70">
        <small class="form-text error" *ngIf="city.invalid && city.touched && city.errors?.required">
          City is required!
        </small>
        <small class="form-text error"
               *ngIf="city.invalid && city.touched && (city.errors?.minlength || city.errors?.maxlength)">
          City should contain from 2 to 70 characters
        </small>
      </div>
      <div class="col-sm-3 form-group">
        <label for="select-country" class="sr-only">Country</label>
        <select id="select-country" name="country" [(ngModel)]="customer.address.country"
                #country="ngModel" class="form-control" required [class.form-control-danger]="country.invalid">
          <option *ngFor="let country of countries" [ngValue]="parseCountry(country)">{{country}}</option>
        </select>
        <small class="form-text error" *ngIf="country.invalid && country.touched && country.errors?.required">
          Country is required!
        </small>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-lg btn-hero-success" (click)="showTab(1)">Previous</a>
      <a class="btn btn-lg btn-hero-success" (click)="showTab(3)">Next</a>
    </div>
  </div>
  <div class="collapse" [class.show]="selected == 3">
    <p></p>
    <div class="form-group">
      <label for="select-cardtype" class="sr-only">CreditCard-Type</label>
      <select id="select-cardtype" name="cardType" [(ngModel)]="customer.creditCard.type"
              #cardType="ngModel" class="form-control" required [class.form-control-danger]="cardType.invalid">
        <option *ngFor="let cType of cardTypes" [ngValue]="cType">{{cType}}</option>
      </select>
      <small class="form-text error" *ngIf="cardType.invalid && cardType.touched && cardType.errors?.required">
        CardType is required!
      </small>
    </div>
    <div class="form-group">
      <label for="input-cardnumber" class="sr-only">Card number</label>
      <input [(ngModel)]="customer.creditCard.number" name="cardnumber" id="input-cardnumber" #cardnumber="ngModel"
             class="form-control" placeholder="Card number" pattern="(\d{4}[-. ]?){4}|\d{4}[-. ]?\d{6}[-. ]?\d{5}"
             [class.form-control-danger]="cardnumber.invalid && cardnumber.touched" required>
      <small class="form-text error" *ngIf="cardnumber.invalid && cardnumber.touched && cardnumber.errors?.required">
        CreditCard is
        required!
      </small>
      <small class="form-text error" *ngIf="cardnumber.invalid && cardnumber.touched && cardnumber.errors?.pattern">
        CreditCard-Number should be the
        real one!
      </small>
    </div>
    <div class="row card-date-inputs">
      <div class="col-sm-6 form-group">
        <label for="input-month" class="sr-only">Expiration Month</label>
        <input name="expMonth" [(ngModel)]="customer.creditCard.expirationMonth" id="input-month" #expMonth="ngModel"
               class="form-control" placeholder="Month"
               [class.form-control-danger]="expMonth.invalid && expMonth.touched"
               type="number"
               pattern="^(1[0-2]|[1-9])$"
               required minlength="1" maxlength="2">
        <small class="form-text error" *ngIf="expMonth.invalid && expMonth.touched && expMonth.errors?.required">
          Expiration month is required!
        </small>
        <small class="form-text error"
               *ngIf="expMonth.invalid && expMonth.touched && (expMonth.errors?.minlength || expMonth.errors?.pattern)">
          Month is not valid.
        </small>
      </div>
      <div class="col-sm-6 form-group">
        <label for="input-year" class="sr-only">Expiration Year</label>
        <input name="year" [(ngModel)]="customer.creditCard.expirationYear" id="input-year" #year="ngModel"
               class="form-control" placeholder="Year"
               [class.form-control-danger]="year.invalid && year.touched"
               required
               type="number"
               ngxCreditcardYear>
        <small class="form-text error" *ngIf="year.invalid && year.touched && year.errors?.required">
          Year is required!
        </small>
        <small class="form-text error"
               *ngIf="year.invalid && year.touched && (year.errors?.years)">
         {{year.errors.years.message}}
        </small>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-lg btn-hero-success" (click)="showTab(2)">Previous</a>
      <button [disabled]="submitted || !form.valid" class="btn btn-lg btn-hero-success" [class.btn-pulse]="submitted">
        Register
      </button>
    </div>
  </div>
</form>
<div class="links">
  <small class="form-text">
    Already have an account? <a routerLink="../login" class="pointer"><strong>Sign in</strong></a>
  </small>
</div>



