<h2 class="title">Register</h2>
<form (ngSubmit)="register()" #form="ngForm">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Step 1" id="step1">
      <p></p>
      <div class="row full-name-inputs">
        <div class="col-sm-6 form-group">


              <label for="input-first-name" class="sr-only">First name</label>
              <input name="fristName" [(ngModel)]="customer.firstName" id="input-first-name" #firstName="ngModel"
                     class="form-control" placeholder="First name"
                     [class.form-control-danger]="firstName.invalid && firstName.touched"
                     required minlength="2" maxlength="20">
              <small class="form-text error" *ngIf="firstName.invalid && firstName.touched && firstName.errors?.required">
                First name is required!
              </small>
              <small class="form-text error"
                     *ngIf="firstName.invalid && firstName.touched && (firstName.errors?.minlength || firstName.errors?.maxlength)">
                First name should contains from 2 to 20 characters
              </small>
        </div>
        <div class="col-sm-6 form-group">
          <label for="input-last-name" class="sr-only">Last name</label>
          <input name="lastName" [(ngModel)]="customer.lastName" id="input-last-name" #lastName="ngModel"
                 class="form-control" placeholder="Last name"
                 [class.form-control-danger]="lastName.invalid && lastName.touched"
                 required minlength="2" maxlength="70" >
          <small class="form-text error" *ngIf="lastName.invalid && lastName.touched && lastName.errors?.required">
            Full name is required!
          </small>
          <small class="form-text error"
                 *ngIf="lastName.invalid && lastName.touched && (lastName.errors?.minlength || lastName.errors?.maxlength)">
            Full name should contain from 2 to 70 characters
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="input-email" class="sr-only">Email address</label>
        <input name="email" [(ngModel)]="customer.email" id="input-email" #email="ngModel"
               class="form-control" placeholder="Email address" pattern=".+@.+..+"
               [class.form-control-danger]="email.invalid && email.touched" required>
        <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">Email is
          required!
        </small>
        <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">Email should be the
          real one!
        </small>
      </div>

      <div class="form-group">
        <label for="input-password" class="sr-only">Password</label>
        <input name="password" [(ngModel)]="user.password" type="password" id="input-password"
               class="form-control" placeholder="Password" #password="ngModel"
               [class.form-control-danger]="password.invalid && password.touched" required [minlength]="8"
               [maxlength]="20">
        <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">Password
          is required!
        </small>
        <small class="form-text error"
               *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
          Password should contains from 8 to 20 characters
        </small>
      </div>

      <div class="form-group">
        <label for="input-re-password" class="sr-only">Repeat password</label>
        <input name="rePass" [(ngModel)]="user.confirmPassword" type="password" id="input-re-password"
               class="form-control" placeholder="Confirm Password" #rePass="ngModel"
               [class.form-control-danger]="(rePass.invalid || password.value != rePass.value) && rePass.touched"
               required>
        <small class="form-text error" *ngIf="rePass.invalid && rePass.touched && rePass.errors?.required">Password
          confirmation is required!
        </small>
        <small class="form-text error"
               *ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required">Password does not
          match the confirm password.
        </small>
      </div>
      <a class="btn btn-block btn-hero-success" (click)="showNextTab('Step2'); $event.stopPropagation();" >
        Next
      </a>
    </nb-tab>
    <nb-tab tabTitle="Step2" id="step2">
      <p></p>
      <div class="form-group">
      <label for="input-street" class="sr-only">Street</label>
      <input name="street" [(ngModel)]="customer.address.street" id="input-street" class="form-control"
             placeholder="Street" #street="ngModel"
             [class.form-control-danger]="street.invalid && street.touched" required minlength="2" maxlength="70">
      <small class="form-text error" *ngIf="street.invalid && street.touched && street.errors?.required">Street is
        required!
      </small>
      <small class="form-text error"
             *ngIf="street.invalid && street.touched && (street.errors?.minlength || street.errors?.maxlength)">
        Street should contain between 2 to 20 characters
      </small>
    </div>

      <div class="row city-country">
      <div class="col-sm-3 form-group">
        <label for="input-postal-code" class="sr-only">PostalCode</label>
        <input name="postalCode" [(ngModel)]="customer.address.postalCode" id="input-postal-code" #postalCode="ngModel"
               class="form-control" placeholder="Postal code"
               [class.form-control-danger]="postalCode.invalid && postalCode.touched"
               required minlength="4" maxlength="5" >
        <small class="form-text error" *ngIf="postalCode.invalid && postalCode.touched && postalCode.errors?.required">
          Postal code is required!
        </small>
        <small class="form-text error"
               *ngIf="postalCode.invalid && postalCode.touched && (postalCode.errors?.minlength || postalCode.errors?.maxlength)">
          Invalid postal code
        </small>
      </div>
      <div class="col-sm-6 form-group">
        <label for="input-city" class="sr-only">City</label>
        <input name="city" [(ngModel)]="customer.address.city" id="input-city" #city="ngModel"
               class="form-control" placeholder="City"
               [class.form-control-danger]="city.invalid && city.touched"
               required minlength="2" maxlength="70" >
        <small class="form-text error" *ngIf="city.invalid && city.touched && city.errors?.required">
          City is required!
        </small>
        <small class="form-text error"
               *ngIf="city.invalid && city.touched && (city.errors?.minlength || city.errors?.maxlength)">
          City should contain from 2 to 70 characters
        </small>
      </div>
      <div class="col-sm-3 form-group">
        <label for="input-country" class="sr-only">Country</label>
        <input name="country" [(ngModel)]="customer.address.country" id="input-country" #country="ngModel"
               class="form-control" placeholder="Country"
               [class.form-control-danger]="country.invalid && country.touched"
               required minlength="2" maxlength="2" >
        <small class="form-text error" *ngIf="country.invalid && country.touched && country.errors?.required">
          Country is required!
        </small>
        <small class="form-text error"
               *ngIf="country.invalid && country.touched && (country.errors?.minlength || country.errors?.maxlength)">
          Invalid Country code
        </small>
      </div>
    </div>
      <a class="btn btn-block btn-hero-success" (click)="selectTab(Step2)" >
        Next
      </a>
    </nb-tab>
    <nb-tab tabTitle="Step 3" id="step3">
      <p></p>

    <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success" [class.btn-pulse]="submitted">
      Register
    </button>
    </nb-tab>
  </nb-tabset>
</form>

<div class="links">
  <small class="form-text">
    Already have an account? <a routerLink="../login" class="pointer"><strong>Sign in</strong></a>
  </small>
</div>


