.full-width ul {
  justify-content: space-around;
}

div#tabs ul {
  font-family: Exo;
  font-size: 1.125rem;
  padding: 0 1.25rem;
  border-bottom: 1px solid #ebeef2;

  li {
    background: transparent;

    a {
      padding: 1.25rem;
      color: #a4abb3;
    }

    a::before {
      background: #40dc7e;
    }
  }

  li.active {
    background: transparent;

    a {
      font-weight: 600;
      color: #2a2a2a;
    }
    a::before {
      display: block;
    }
  }
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;

  li {
    cursor: pointer;
    margin-bottom: -1px;
    text-align: center;

    a {
      position: relative;
      text-decoration: none;
      display: inline-block;
    }

    a::before {
      display: none;
      position: absolute;
      content: '';
      width: 100%;
      height: 6px;
      border-radius: 3px;
      bottom: -2px;
      left: 0;
    }
  }
}

a {
  color: #3dcc6d;
}

.multibtn {
  margin: 3px;
}
