<nb-card *ngIf="!books || books.length === 0">
  <nb-card-header>
    Recommended for you
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div *ngFor="let b of recommendedBooks" class="col-md-2">
            <ngx-book-recommendation title="{{b.title}}" authors="{{b.authors}}" isbn="{{b.isbn}}" price="{{b.price}}"
                             imgUrl="{{b.imgUrl}}" (onBookSelected)="navigateToDetails($event)">
            </ngx-book-recommendation>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card class="search-results" *ngIf="books && books.length > 0">
  <nb-card-header>
    Search Results
  </nb-card-header>
  <nb-card-body>
    <ngx-book-list [books]="books" (onBookSelected)="navigateToDetails($event)"></ngx-book-list>
  </nb-card-body>
</nb-card>
