<nb-card *ngIf="!searchCompleted">
  <nb-card-header>
    Recommended for you
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div *ngFor="let b of recommendatedBooks" class="col-md-2">
            <ngx-status-card title="{{b.title}}" authors="{{b.authors}}" isbn="{{b.isbn}}" price="{{b.price}}"
                             type="info" (onBookSelected)="navigateToDetails($event)">
            </ngx-status-card>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card class="search-results" *ngIf="searchCompleted">
  <nb-card-header>
    Search Results
  </nb-card-header>
  <nb-card-body>
  <ngx-book-list [books]="books" (onBookSelected)="navigateToDetails($event)"></ngx-book-list>
  </nb-card-body>
</nb-card>
