<nb-card class="search-results">
  <nb-card-header>
    Order Summary
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <!--<ngx-overview></ngx-overview>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of currentShoppingCart.items">
            <td>{{item.book.title}}</td>
            <td>{{item.book.price | currency:'USD'}}</td>
            <td>{{item.quantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 menu">
        <div class="col-12 totalprice">Total price: {{ totalPrice | currency:'USD'}}</div>
        <div class="row customer-data" *ngIf="customer">
          <ngx-address-data-view *ngIf="customer.address" class="col-lg-6 col-md-6 col-sm-12" [customer]="customer"
                                 [title]="titleCustomer"></ngx-address-data-view>
          <ngx-payment-data-view *ngIf="customer.creditCard" class="col-lg-6 col-md-6 col-sm-12"
                                 [customer]="customer"></ngx-payment-data-view>
        </div>
        <button class="btn btn-primary btn-md multibtn" [disabled]="isOrderPlaced" (click)="updateAddress()">Edit
          Address
        </button>
        <button class="btn btn-primary btn-md multibtn" [disabled]="isOrderPlaced" (click)="updateCreditCard()">Edit
          Payment-Data
        </button>
        <button class="btn btn-success checkout-btn multibtn" [disabled]="isOrderPlaced" (click)="placeOrder()">Place
          Order
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
